<main>
  <div class="content-wrapper">
    <h1><%= translate('edit_user') %></h1>
    <% if(@user.errors.any?) %>
      <%= @user.errors.full_messages.join('<br />').html_safe %>
    <% end %>
    <%= form_for(@user) do |form| %>
      <div class="input__row">
        <%= form.label(:email, class: 'input__label') %>
        <%= form.text_field(:email, placeholder: 'e.g. me@epfl.ch', class: 'input__field') %>
      </div>
      <div class="input__row">
        <%= form.label(:name, class: 'input__label') %>
        <%= form.text_field(:name, placeholder: 'e.g. Hari Seldon', class: 'input__field') %>
      </div>
      <div class="input__row">
        <%= form.label(:avatar, class: 'input__label') %>
        <%= form.file_field(:avatar, class: 'input__field') %>
      </div>
      <div class="input__row">
        <%= form.label(:role, class: 'input__label') %>
        <%= form.select(:role, %w(registered admin), {}, class: 'input__field') %>
      </div>
      <div class="input__row">
        <div class="prompt">
          <%= form.submit(translate('edit_user'), class: "btn btn--inline") %>
        </div>
      </div>
    <% end %>
  </div>
</main>
